[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"

[packages]
httptools = "*"
hypothesis = "*"
pylint = "*"
gurl = {editable = true,path = "."}
e1839a8 = {editable = true,path = "."}

[requires]
python_version = "3.8"
