---
layout: doc
permalink: /docs
title: APICheck Sensitive Data Finder
---

<div class="col-12 col-md-9">
    <span class="overview">Tools Overview</span>
    <h1 class="title">Overview</h1>
    <div class="content">
        <h2 id="whisper-theme">Whisper Theme</h2>

        <p>Whisper is a minimal documentation theme for Hugo. The design and functionality is intentionally minimal. We’re aiming for a similar feel to a Github readme.</p>
    </div>
    {content}

</div>