[submodule "docs/themes/kube"]
	path = docs/themes/kube
	url = https://github.com/jeblister/kube.git
[submodule "docs/themes/book"]
	path = docs/themes/book
	url = https://github.com/alex-shpak/hugo-book
