{{$currentNode := .}}
<div class="docs-menu">
  <h4>Basic concepts</h4>
  <br>

  <h4>Quickstart</h4>
  <ul>


    <li class="{{ if in .File.Dir "whats-apicheck" }}active {{ end }}">
      <a href="{{.Site.BaseURL}}/whats-apicheck">XXX</a>
    </li>
  </ul>
  <br>

  <h4>Documentation</h4>
  <br>

  <h4>Tools developers</h4>
  <br>

  <h4>Tool list</h4>
  {{ .Site.Pages }}
  <ul>
    {{ range (where .Site.RegularPages "Section" .Section) sort .Site.RegularPages ".Weight" }}
      <li class="{{ if eq .File.UniqueID $currentNode.File.UniqueID }}active {{ end }}">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>
