[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pytest = "*"
pycodestyle = "*"
cython = "*"
mitmproxy = "*"
sqlalchemy-aio = "*"
pg8000 = "*"
pymysql = "*"
aiohttp = "*"
brotli = "*"
terminaltables = "*"

[requires]
python_version = "3.7"
