[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"

[packages]
pyyaml = "*"
pytest = "*"
pycodestyle = "*"
cython = "*"
mitmproxy = "*"
sqlalchemy-aio = "*"
pg8000 = "*"
pymysql = "*"
aiohttp = "*"
brotli = "*"
terminaltables = "*"
sqlalchemy-stubs = "*"
pandas = "*"
python-slugify = {extras = ["unidecode"],version = "*"}
text-unidecode = "*"
faker = "*"

[requires]
python_version = "3.7"
